@using MyCrm.Application.Convertor
@using MyCrm.Application.Static_Tools
@using MyCrm.Domain.Entities.Companies
@model MyCrm.Domain.ViewModels.User.FilterUserViewModel
@{
    ViewData["Title"] = "کاربران";
    var companiesList = ViewBag.CompanyList as List<Company>;
}

@section custom_js
    {
    <script>
        function OpenSelectCompanyModal(customerId) {
            $('#customerId').val(customerId);
            console.log(customerId);
            $("#basicModal").modal("show");
        }
    </script>
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">فیلتر</h4>
            </div>
            <div class="card-body">
                <div class="basic-form">
                    <form asp-controller="User" asp-action="Index" method="get" id="filter-search">
                        <input type="hidden" id="pageId" asp-for="PageId" />
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>نام </label>
                                <input asp-for="FilterFirstName" class="form-control">
                            </div>
                            <div class="form-group col-md-6">
                                <label>نام خانوادگی</label>
                                <input asp-for="FilterLastName" class="form-control">
                            </div>
                            <div class="form-group col-md-6">
                                <label>موبایل</label>
                                <input asp-for="FilterMobile" class="form-control">
                            </div>
                            @*<div class="form-group col-md-6">
                            <label>ایمیل</label>
                            <input type="text" asp-for="" class="form-control">
                            </div>*@
                        </div>

                        <button type="submit" class="btn btn-primary">فیلتر</button>
                        @if (Context.Request.QueryString.HasValue)
                        {
                            <a class="btn btn-danger" asp-controller="User" asp-action="Index">حذف فیلتر</a>
                        }
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h4 class="card-title">لیست کاربران</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div id="example3_wrapper" class="table table-responsive-md tc">


                <table id="example3" class="table table-responsive-md tc">
                    <thead>
                        <tr role="row">

                            <th></th>
                            <th>نام</th>
                            <th>نام خانوادگی</th>
                            <th>ایمیل</th>
                            <th>موبایل</th>
                            <th>وضعیت</th>
                            <th>تاریخ عضو</th>
                            <th>عملیات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Users != null)
                        {
                            @foreach (var user in Model.Users)
                            {
                                <tr role="row" class="odd">
                                    <td class="">
                                        @if (string.IsNullOrEmpty(user.ImageName))
                                        {
                                            <img class="rounded-circle" width="35" src="@FilePath.UserProfileDefault" alt="">
                                        }
                                        else
                                        {
                                            <img class="rounded-circle" width="35" src="@FilePath.UploadImageProfile@user.ImageName" alt="">
                                        }
                                    </td>
                                    <td>
                                        @if (string.IsNullOrEmpty(user.FirstName))
                                        {
                                            <span class="badge light badge-warning">ثبت نشده</span>
                                        }
                                        else
                                        {
                                            @user.FirstName
                                        }
                                    </td>
                                    <td>
                                        @if (string.IsNullOrEmpty(user.LastName))
                                        {
                                            <span class="badge light badge-warning">ثبت نشده</span>
                                        }
                                        else
                                        {
                                            @user.LastName
                                        }

                                    </td>
                                    <td>
                                        @if (string.IsNullOrEmpty(user.Email))
                                        {
                                            <span class="badge light badge-warning">ثبت نشده</span>
                                        }
                                        else
                                        {
                                            @user.Email
                                        }
                                    </td>
                                    <td>
                                        @if (string.IsNullOrEmpty(user.MobilePhone))
                                        {
                                            <span class="badge light badge-warning">ثبت نشده</span>
                                        }
                                        else
                                        {
                                            @user.MobilePhone
                                        }
                                    </td>
                                    <td>
                                        @if (user.Marketer != null)
                                        {
                                            <span class="badge light badge-info">بازاریاب</span>
                                        }
                                        @if (user.Customer != null)
                                        {
                                            <span class="badge light badge-primary">مشتری</span>
                                        }
                                    </td>
                                    <td>@user.CreateDate.ToShamsiDate()</td>
                                    <td>
                                        <div class="d-flex">
                                            @if (user.Marketer != null)
                                            {
                                                <a asp-controller="User" asp-action="EditMarketer" asp-route-id="@user.UserId" class="btn btn-primary shadow btn-xs sharp mr-1"><i class="fa fa-pencil"></i></a>
                                            }
                                            else
                                            {
                                                <a asp-controller="User" asp-action="EditCustomer" asp-route-id="@user.UserId" class="btn btn-primary shadow btn-xs sharp mr-1"><i class="fa fa-pencil"></i></a>
                                                <a asp-controller="Order" asp-action="CreateOrder" asp-route-id="@user.UserId" class="btn btn-primary shadow btn-xs sharp mr-1"><i class="fa fa-building"></i></a>
                                                <a onclick="OpenSelectCompanyModal('@user.UserId')" class="btn btn-primary shadow btn-xs sharp mr-1"><i class="fa fa-search"></i></a>
                                            }

                                            <a asp-controller="User" asp-action="DeleteUser" asp-route-userId="@user.UserId" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>

            </div>

            <partial name="_PagingPartial" model="@Model.GetCurrentPaging()" />
        </div>
    </div>
</div>

<div class="modal fade" id="basicModal">
    <div class="modal-dialog" role="document">

        <form method="post" id="SelecteCompanyForm" asp-action="SelectCompanyForCustomer" asp-controller="User">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">انتخاب شرکت</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="customerId" name="customerId" />
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label>انتخاب شرکت</label>
                            <select class="form-control" name="companyId">
                                @foreach (var company in companiesList)
                                {
                                    <option value="@company.CompanyId">@company.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success light">ثبت</button>
                </div>
            </div>
        </form>
    </div>
</div>
