@model MyCrm.Domain.ViewModels.User.FilterUserViewModel
@{
    ViewData["Title"] = "کاربران";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="header">
                <h2>فیلتر <strong>کاربر</strong></h2>
                <ul class="header-dropdown">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="javascript:void(0);">عملیات</a></li>
                            <li><a href="javascript:void(0);">عملیات دیگر</a></li>
                            <li><a href="javascript:void(0);">یک چیز دیگر</a></li>
                        </ul>
                    </li>
                    <li class="remove">
                        <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                    </li>
                </ul>
            </div>
            <div class="body">
                <form method="get" id="filter-search" enctype="multipart/form-data">
                    <input type="hidden" id="pageId" asp-for="PageId" />
                    <div class="row clearfix">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email_address">نام</label>
                                <input type="text" class="form-control" asp-for="FilterFirstName">
                                <span class="text-danger" asp-validation-for="FilterFirstName"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email_address">نام خانوادگی</label>
                                <input type="text" class="form-control" asp-for="FilterLastName">
                                <span class="text-danger" asp-validation-for="FilterLastName"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email_address">موبایل</label>
                                <input type="text" class="form-control" asp-for="FilterMobile">
                                <span class="text-danger" asp-validation-for="FilterMobile"></span>
                            </div>
                        </div>
                        @*<div class="col-md-6">
                        <div class="form-group">
                        <label for="email_address" asp-for="FilterLastName"></label>
                        <input type="text" class="form-control" asp-for="FilterLastName">
                        <span class="text-danger" asp-validation-for="FilterLastName"></span>
                        </div>
                        </div>*@
                    </div>

                    @if (Context.Request.QueryString.HasValue)
                    {
                        <a asp-controller="User" asp-action="Index" class="btn btn-raised btn-primary btn-round waves-effect">حذف فیلتر</a>
                    }

                    <button type="submit" class="btn btn-raised btn-info btn-round waves-effect">فیلتر</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Striped Rows -->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="header">
                <ul class="header-dropdown">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="javascript:void(0);">افزودن سر نخ</a></li>
                            <li><a asp-controller="User" asp-action="CreateMarketer">افزودن بازاریاب</a></li>
                            <li><a asp-controller="User" asp-action="CreateCustomer">افزودن مشتری</a></li>
                        </ul>
                    </li>
                    <li class="remove">
                        <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>نام</th>
                            <th>نام  خانوادگی</th>
                            <th>موبایل</th>
                            <th>ایمیل</th>
                            <th>عملیات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Users != null)
                        {
                            foreach (var user in Model.Users)
                            {
                                <tr>
                                    <th>@user.FirstName</th>
                                    <td>@user.LastName</td>
                                    <td>@user.MobilePhone</td>
                                    <td>@user.Email</td>
                                    <td>
                                        <a asp-controller="User" asp-action="EditMarketer" asp-route-id="@user.UserId" class="btn btn-default btn-icon btn-simple btn-icon-mini btn-round"><i class="zmdi zmdi-edit"></i></a>
                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>

        <partial name="_PagingPartial" model="@Model.GetCurrentPaging()" />
    </div>
</div>
<!-- #END# Striped Rows -->
