<!doctype html>
<html class="no-js " lang="en">

<!-- Mirrored from www.wrraptheme.com/templates/compass/html/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 29 Jul 2019 10:22:38 GMT -->
<head>
    <partial name="_MetaTags"></partial>
    <title>نرم افزار CRM - @ViewData["Title"]</title>
    <partial name="_HeaderRefrences" />
    @RenderSection("Custom_css",false)
</head>
<body class="theme-cyan">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="m-t-30"><img class="zmdi-hc-spin" src="assets/images/logo.svg" width="48" height="48" alt="قطب نما"></div>
            <p>لطفا صبر کنید ...</p>
        </div>
    </div>
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>

    <!-- Top Bar -->
    <partial name="_TopBar" />

    <!-- Right Sidebar -->
    <partial name="_RightSideBar" />

    <!-- Left Sidebar -->
    <partial name="_LeftSideBar" />

    <!-- Chat-launcher -->
    <partial name="_ChatLauncher" />

    <!-- Main Content -->
    <section class="content home">
        @RenderSection("Block_Header",false)
        <div class="container-fluid">
            @RenderBody()
        </div>
    </section>
    <!-- Jquery Core Js -->
    <partial name="_FooterRefrences" />
    @RenderSection("Custom_js",false)
</body>

<!-- Mirrored from www.wrraptheme.com/templates/compass/html/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 29 Jul 2019 10:22:48 GMT -->
</html>