@using System.IO
@using MyCrm.Application.Convertor
@using MyCrm.Application.Extensions
@using MyCrm.Application.Static_Tools
@using MyCrm.Domain.Entities.Account
@using MyCrm.Domain.Entities.Orders
@model MyCrm.Domain.ViewModels.Orders.EditOrderViewModel
@{
    ViewData["Title"] = "ویرایش سفارش";
    var customer = ViewBag.customer as Customer;
}

<div class="row">
    <div class="col-xl-4">
        <div class="card text-white bg-primary">
            <div class="card-header">
                <h5 class="card-title text-white">اطلاعات مشتری</h5>
            </div>
            <div class="card-body mb-0">
                <p class="card-text">نام مشتری : @customer.User.GetUserShowName()</p>
                <p class="card-text">شغل مشتری : @customer.Job</p>
                <p class="card-text">شرکت مشتری : @customer.CompanyName</p>
                <p class="card-text">ایمیل : @customer.User.Email</p>
                <p class="card-text">موبایل : @customer.User.MobilePhone</p>
                <p class="card-text">تاریخ ثبت : @customer.User.CreateDate.ToShamsiDate()</p>
            </div>
            @*<div class="card-footer bg-transparent border-0 text-white">آخرین آپدیت 4 دقیقه پیش
            </div>*@
        </div>
    </div>
    <div class="col-xl-8">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">افزودن سفارش</h4>
            </div>
            <div class="card-body">
                <div class="basic-form">
                    <form method="post" id="filter-search" enctype="multipart/form-data">
                        <input type="hidden" asp-for="OrderId" />
                        <input type="hidden" asp-for="CustomerId" />
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label asp-for="Title"> </label>
                                <input asp-for="Title" class="form-control">
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-12">
                                <label asp-for="PredictDay"> </label>
                                <input asp-for="PredictDay" class="form-control">
                                <span asp-validation-for="PredictDay" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-12">
                                <label asp-for="Description"> </label>
                                <textarea class="form-control" asp-for="Description"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-12">
                                <label asp-for="OrderType"> </label>
                                <select class="form-control" asp-for="OrderType" asp-items="@Html.GetEnumSelectList<OrderType>()"></select>
                                <span asp-validation-for="OrderType" class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-12">
                                <label for="MainImage" class="btn btn-primary d-block">
                                    <span>تصویر سفارش</span>
                                </label>
                                <input ImageInput="1" type="file" name="orderImage" id="MainImage" class="d-none" />
                            </div>
                            <div class="col-md-7"></div>
                            <div class="col-md-5">
                                @if (!string.IsNullOrEmpty(Model.ImageName))
                                {
                                    <img src="@FilePath.OrderImagePath@Model.ImageName" ImageFile="1" style="max-width: 300px" />
                                }
                                else
                                {
                                    <img src="@FilePath.NoImagePath" ImageFile="1" style="max-width: 300px" />
                                }
                            </div>

                        </div>

                        <button type="submit" class="btn btn-success d-block">ثبت</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
