@using MyCrm.Application.Convertor
@using MyCrm.Application.Extensions
@using MyCrm.Application.Static_Tools
@model MyCrm.Domain.ViewModels.Orders.FilterOrderViewModel
@{
    ViewData["Title"] = "لیست سفارشات";
}

@section custom_js
    {
    <script>
        function OpenSelectMarketerModal(orderId) {
            $.ajax({
                url: "/Order/SelectMarketerModal",
                type: "Get",
                data: {
                    orderId: orderId
                },
                beforeSend: function () {

                },
                success: function (response) {
                    $("#content").html(response);
                    $("#basicModal").modal("show");
                },
                error: function () {

                }
            });
        }

        function SubmitForm() {
            var sendData = $('#SelectedMarketerForm').serializeArray().reduce(function (obj, item) {
                obj[item.name] = item.value;
                return obj;
            },
                {});


            var form_data = new FormData();

            for (var key in sendData) {
                form_data.append(key, sendData[key]);
            }

            $.ajax({
                url: "/Order/SelectMarketerModal",
                type: "POST",
                data: form_data,
                processData: false,
                contentType: false,
                beforeSend: function () {

                },
                success: function (response) {
                    SelectOrderMarketerDone(response);
                },
                error: function () {

                }
            });
        }

        function SelectOrderMarketerDone(response) {
            if (response.status === "Success") {
                ShowMessage("اعلان", "عملیات با موفقیت انجام شد", "success");
                $("#basicModal").modal("hide");
            }
            else if (response.status === "Exist") {
                ShowMessage("اعلان", "قبلا بازاریاب داشته است", "warning");
                $("#basicModal").modal("hide");
            } else {
                ShowMessage("اعلان", "عملیات با شکست مواجه شد", "error");
            }
        }
    </script>
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">فیلتر</h4>
            </div>
            <div class="card-body">
                <div class="basic-form">
                    <form asp-controller="Order" asp-action="FilterOrders" method="get" id="filter-search">
                        <input type="hidden" id="pageId" asp-for="PageId" />
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>نام مشتری </label>
                                <input asp-for="FilterCustomerName" class="form-control">
                            </div>
                            <div class="form-group col-md-6">
                                <label>عنوان سفارش</label>
                                <input asp-for="FilterOrderName" class="form-control">
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">فیلتر</button>
                        @if (Context.Request.QueryString.HasValue)
                        {
                            <a class="btn btn-danger" asp-controller="Order" asp-action="FilterOrders">حذف فیلتر</a>
                        }
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h4 class="card-title">لیست کاربران</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div id="example3_wrapper" class="table table-responsive-md tc">


                <table id="example3" class="table table-responsive-md tc">
                    <thead>
                        <tr role="row">
                            <th>نام مشتری</th>
                            <th>عنوان</th>
                            <th>Datepredict</th>
                            <th>تاریخ</th>
                            <th>وضعیت</th>
                            <th>عملیات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Orders != null)
                        {
                            @foreach (var order in Model.Orders)
                            {
                                <tr role="row" class="odd">
                                    <td>
                                        <p>@order.Customer.User.GetUserShowName()</p>
                                    </td>
                                    <td>
                                        @order.Title
                                    </td>
                                    <td>
                                        @order.PredictDay
                                    </td>
                                    <td>
                                        <p>@order.CreateDate.ToShamsiDate()</p>
                                    </td>
                                    <td>
                                        <p>
                                            @if (order.IsFinish)
                                            {
                                                <span class="badge light badge-success">به اتمام رسیده</span>
                                            }
                                            else
                                            {
                                                <span class="badge light badge-warning">تمام نشده</span>
                                            }
                                            @if (order.IsSale)
                                            {
                                                <span class="badge light badge-warning">به فروش رسیده</span>
                                            }
                                            else
                                            {
                                                <span class="badge light badge-warning">به فروش نرسیده</span>
                                            }
                                        </p>
                                    </td>
                                    <td>
                                        <div class="d-flex">
                                            <a asp-controller="Order" asp-action="EditOrder" asp-route-orderId="@order.OrderId" class="btn btn-warning shadow btn-xs sharp"><i class="fa fa-edit text-white"></i></a>
                                            <a asp-controller="Order" asp-action="DeleteOrder" asp-route-orderId="@order.OrderId" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash text-white"></i></a>
                                            <a asp-controller="Task" asp-action="CreateTask" asp-route-orderId="@order.OrderId" class="btn btn-info shadow btn-xs sharp"><i class="fa fa-tasks text-white"></i></a>
                                            <a onclick="OpenSelectMarketerModal('@order.OrderId')" class="btn btn-info shadow btn-xs sharp"><i class="fa fa-search text-white"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>

            </div>

            <partial name="_PagingPartial" model="@Model.GetCurrentPaging()" />
        </div>
    </div>
</div>


<div class="modal fade" id="basicModal">
    <div class="modal-dialog" role="document">

        <form method="post" id="SelectedMarketerForm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">انتخاب بازاریاب</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="content">
                    >

                </div>
                <div class="modal-footer">
                    <button type="button" onclick="SubmitForm()" class="btn btn-success light">ثبت</button>
                </div>
            </div>
        </form>
    </div>
</div>