@using MyCrm.Application.Extensions
@using MyCrm.Application.Static_Tools
@model MyCrm.Domain.ViewModels.DashboardViewModel
@{
    ViewData["Title"] = "داشبورد";
}

@section custom_js
    {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>

        var customerCount = @((Model.CustomerCount != null) ? Model.CustomerCount : 0);
        var companyCount = @((Model.CompanyCount != null) ? Model.CompanyCount : 0);
        var marketerCount = @((Model.MarketerCount != null) ? Model.MarketerCount : 0);

        const data = {
            labels: [
                'مشتریان',
                'بازاریابان',
                'شرکت ها'
            ],
            datasets: [{
                label: 'My First Dataset',
                data: [customerCount, marketerCount, companyCount],
                backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 205, 86)'
                ],
                hoverOffset: 4
            }]
        };

        const config = {
            type: 'pie',
            data: data,
        };

        const myChart = new Chart(
            document.getElementById('myChart'),
            config
        );

        var myList = [];
        $(document).ready(function () {
            $.ajax({
                method: "GET",
                url: "/home/GetStringPastsMonth",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: { count: 5 }
            })
                .done(function (data) {
                    $('.roleDD').empty();
                    for (i = 0; i < data.length; i++) {
                        myList.push(data[i]);
                    }
                })
                .fail(function () {
                    console.log("Failed 4");
                });
        });

        $(document).ajaxComplete(function () {
            const my_data = {
                labels: myList,
                datasets: [
                    {
                        label: 'سفارشات',
                        backgroundColor: 'rgb(255, 99, 132)',
                        borderColor: 'rgb(255, 99, 132)',
                        data: [@Model.OrderCountPerMonth[0], @Model.OrderCountPerMonth[1], @Model.OrderCountPerMonth[2], @Model.OrderCountPerMonth[3], @Model.OrderCountPerMonth[4]], 
                    }
                ]
            };

            const new_config = {
                type: 'line',
                data: my_data,
                options: {}
            };

            const newChart = new Chart(
                document.getElementById('newChart'),
                new_config
            );
        });


        console.log(myList);



    </script>
}

<div class="row">
    <div class="col-xl-3 col-lg-6 col-sm-6">
        <div class="widget-stat card bg-primary">
            <div class="card-body  p-4">
                <div class="media">
                    <span class="mr-3">
                        <i class="la la-users"></i>
                    </span>
                    <div class="media-body text-white">
                        <p class="mb-1">کل مشتریان</p>
                        <h3 class="text-white">@Model.CustomerCount</h3>
                        @*<div class="progress mb-2 bg-secondary">
                        <div class="progress-bar progress-animated bg-light" style="width: 80%"></div>
                        </div>*@
                        @*<small>80٪ افزایش در 20 روز</small>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-sm-6">
        <div class="widget-stat card bg-success">
            <div class="card-body  p-4">
                <div class="media">
                    <span class="mr-3">
                        <i class="la la-users"></i>
                    </span>
                    <div class="media-body text-white">
                        <p class="mb-1">امشتریان امروز</p>
                        <h3 class="text-white">@Model.TodayCustomerCount</h3>
                        @*<div class="progress mb-2 bg-secondary">
                        <div class="progress-bar progress-animated bg-light" style="width: 80%"></div>
                        </div>
                        <small>80٪ افزایش در 20 روز</small>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-sm-6">
        <div class="widget-stat card bg-warning">
            <div class="card-body  p-4">
                <div class="media">
                    <span class="mr-3">
                        <i class="la la-user"></i>
                    </span>
                    <div class="media-body text-white">
                        <p class="mb-1">کل بازاریابان</p>
                        <h3 class="text-white">@Model.MarketerCount</h3>
                        @*<div class="progress mb-2 bg-secondary">
                        <div class="progress-bar progress-animated bg-light" style="width: 80%"></div>
                        </div>
                        <small>80٪ افزایش در 20 روز</small>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-sm-6">
        <div class="widget-stat card bg-blue-light">
            <div class="card-body  p-4">
                <div class="media">
                    <span class="mr-3">
                        <i class="la la-home"></i>
                    </span>
                    <div class="media-body text-white">
                        <p class="mb-1">کل شرکت ها</p>
                        <h3 class="text-white">@Model.CompanyCount</h3>
                        @*<div class="progress mb-2 bg-secondary">
                        <div class="progress-bar progress-animated bg-light" style="width: 80%"></div>
                        </div>
                        <small>80٪ افزایش در 20 روز</small>*@
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-lg-6 col-sm-6">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="text-center">
                    <div class="profile-photo">
                        @if (string.IsNullOrEmpty(Model.SelfUser.ImageName))
                        {
                            <img src="@FilePath.UserProfileDefault" width="100" class="img-fluid rounded-circle" alt="">

                        }
                        else
                        {
                            <img src="@FilePath.UploadImageProfile@Model.SelfUser.ImageName" width="100" class="img-fluid rounded-circle" alt="">
                        }
                    </div>
                    <h3 class="mt-4 mb-1">@Model.SelfUser.GetUserShowName()</h3>
                    @if (Model.SelfUser.Marketer != null)
                    {
                        <p class="text-muted">بازاریاب</p>
                    }
                    else if (Model.SelfUser.Customer != null)
                    {
                        <p class="text-muted">مشتری</p>
                    }
                    <a class="btn btn-outline-primary btn-rounded mt-3 px-5" href="javascript:void()">پروفایل</a>
                </div>
            </div>

            <div class="card-footer pt-0 pb-0 text-center">
                <div class="row">
                    <div class="col-4 pt-3 pb-3 border-right">
                        <h3 class="mb-1">150</h3><span>تعداد سفارشات </span>
                    </div>
                    <div class="col-4 pt-3 pb-3 border-right">
                        <h3 class="mb-1">140</h3><span>سفارشات تمام شده</span>
                    </div>
                    <div class="col-4 pt-3 pb-3">
                        <h3 class="mb-1">@Model.UserOpenLeadCount</h3><span>سرنخ باز </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-8 col-lg-8 col-sm-8 card">
        <div>
            <canvas id="newChart"></canvas>
        </div>
    </div>

    <div class="col-xl-4 col-lg-4 col-sm-8 card">
        <div>
            <canvas id="myChart"></canvas>
        </div>
    </div>



</div>
